.button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  background: -moz-linear-gradient(top, #ffffff, #dddddd);
  border: 1px solid #bbb; }
  .button:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#333333));
    background: -moz-linear-gradient(bottom, #dddddd, #aaaaaa); }

.leftColumn {
  width: 430px;
  height: 300px;
  background-color: wheat; }

.card {
  border-radius: 10px;
  font-family: Helvetica;
  padding: 2%;
  height: 6em;
  vertical-align: top; }
  .card.white {
    background-color: white;
    color: black;
    border: 2px solid black; }
  .card.black {
    background-color: black;
    color: white; }
  .card .selected:after {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: lightgray;
    z-index: 1; }
  .card .first:after {
    content: '1'; }
  .card .second:after {
    content: '2'; }
  .card .third:after {
    content: '3'; }
  .card .cardText {
    z-index: 5;
    position: relative; }

.submission {
  display: inline-block;
  width: 22%;
  vertical-align: top;
  padding: 5px; }
  .submission:hover {
    background-color: skyblue; }
  .submission.selected {
    background-color: green; }
  .submission .card {
    margin-bottom: -8px;
    margin-top: 0;
    padding-bottom: 8px;
    overflow: hidden;
    border-radius: 10px 10px 0 0; }

.bottomColumn {
  width: 100%;
  height: 300px;
  background-color: lightblue;
  overflow: hidden;
  position: relative; }

.scoreboard {
  padding: 1%;
  height: 50%; }
  .scoreboard .displayName, .scoreboard .score {
    display: inline-block; }
  .scoreboard .displayName {
    word-break: break-all;
    width: 80%; }
  .scoreboard .score {
    padding-right: 4px;
    font-weight: bold; }
  .scoreboard .nameAndScore {
    width: 49%;
    height: 15%;
    display: inline-block; }

.submittedCards {
  position: absolute;
  height: 300px;
  width: 98%;
  overflow: scroll;
  top: 0;
  z-index: 10;
  background-color: white; }

.offToSide .submittedCards {
  transform: translateX(-97%); }
.offToSide .handle {
  left: 0; }

.reader .handle {
  display: inline-block; }
.reader .hand {
  left: 5%; }

.handle {
  width: 5%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: cornflowerblue;
  display: none; }
  .handle span {
    display: inline-block;
    width: 10em;
    transform: rotate(-90deg) translateX(-10em);
    transform-origin: 0 -1em; }

.hand {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 7px; }
  .hand .card {
    display: inline-block;
    width: 17%;
    margin: 0 0 0 10px;
    margin-bottom: -15px;
    padding: 3px 3px 13px 3px;
    position: relative; }

.card.selected {
  background-color: beige; }
