.button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dddddd));
  background: -moz-linear-gradient(top, white, #dddddd);
  border: 1px solid #bbb;
  &:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#333333));
    background: -moz-linear-gradient(bottom, #dddddd, #aaaaaa);
  }
}
.leftColumn {
  width:430px;
  height: 300px;
  background-color: wheat;
}

.card {
  border-radius: 10px;
  font-family:Helvetica;
  padding: 2%;
  height: 6em;
  vertical-align:top;
  &.white {
    background-color: white;
    color:black;
    border: 2px solid black;
  }
  &.black {
    background-color: black;
    color:white;
  }
  .selected:after {
    position:absolute;
    bottom: 10%;
    left:0;
    width:100%;
    text-align:center;
    font-size: 3em;
    color:lightgray;
    z-index:1;
  }
  .first:after {
    content:'1';
  }
  .second:after {
    content:'2';
  }
  .third:after {
    content:'3';
  }
  .cardText {
    z-index:5;
    position:relative;
  }
}

.submission {
  display:inline-block;
  width: 22%;
  vertical-align: top;
  padding: 5px;
  &:hover {
    background-color:skyblue;
  }
  &.selected {
    background-color:green;
  }

  .card {
    margin-bottom: -8px;
    margin-top: 0;
    padding-bottom: 8px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
}

.bottomColumn {
  width:100%;
  height:300px;
  background-color:lightblue;
  overflow:hidden;
  position:relative;
}
.scoreboard {
  padding: 1%;
  height: 50%;
  .displayName, .score {
    display:inline-block;
  }
  .displayName {
    word-break: break-all;
    width: 80%;
  }
  .score {
    padding-right: 4px;
    font-weight: bold;
  }
  .nameAndScore {
    width: 49%;
    height: 15%;
    display: inline-block;
  }
}

.submittedCards {
  position: absolute;
  height: 300px;
  width: 98%;
  overflow:scroll;
  top:0;
  z-index: 10;
  background-color:white;
}

.offToSide {
  .submittedCards {
    transform: translateX(-97%);
  }
  .handle {
    left: 0;
  }
}

.reader {
  .handle {
    display:inline-block;
  }
  .hand {
    left:5%;
  }
}

.handle {
  width:5%;
  height:100%;
  position:absolute;
  right:0;
  top:0;
  background-color:pink;
  display: none;
  span {
    display:inline-block;
    width: 10em;
    transform: rotate(-90deg) translateX(-10em);
    transform-origin: 0 -1em;
  }
}

.hand {
  position:absolute;
  top:0;
  left:0;
  padding-top: 7px;
  .card {
    display:inline-block;
    width:17%;
    margin: 0 0 0 10px;
    margin-bottom: -15px;
    padding: 3px 3px 13px 3px;
    position:relative;
  }
}
.card.selected {
  background-color: beige;
}